[submodule "Source/OpenNiconico2"]
	path = Source/OpenNiconico2
	url = git@github.com:fuyuno/OpenNiconico2.git
[submodule "Source/Corvus"]
	path = Source/Corvus
	url = git@github.com:fuyuno/Corvus.git
